In [16]:
import pandas as pd

# Load the dataset

data = pd.read_csv('adult_with_headers.csv')

# Display the first few rows of the dataset
data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
# Summary statistics
data.describe(include='all')

# Check for missing values
missing_values = data.isnull().sum()

# Data types
data_types = data.dtypes

missing_values, data_types

(age               0
 workclass         0
 fnlwgt            0
 education         0
 education_num     0
 marital_status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital_gain      0
 capital_loss      0
 hours_per_week    0
 native_country    0
 income            0
 dtype: int64,
 age                int64
 workclass         object
 fnlwgt             int64
 education         object
 education_num      int64
 marital_status    object
 occupation        object
 relationship      object
 race              object
 sex               object
 capital_gain       int64
 capital_loss       int64
 hours_per_week     int64
 native_country    object
 income            object
 dtype: object)

In [7]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Handle missing values
# Impute missing values with mean for numerical features and mode for categorical features
num_imputer = SimpleImputer(strategy='mean')
cat_imputer = SimpleImputer(strategy='most_frequent')

# Separate numerical and categorical columns
num_cols = data.select_dtypes(include=['int64', 'float64']).columns
cat_cols = data.select_dtypes(include=['object']).columns

data[num_cols] = num_imputer.fit_transform(data[num_cols])
data[cat_cols] = cat_imputer.fit_transform(data[cat_cols])

# Apply scaling techniques
scaler_standard = StandardScaler()
scaler_minmax = MinMaxScaler()

data_standard_scaled = data.copy()
data_minmax_scaled = data.copy()

data_standard_scaled[num_cols] = scaler_standard.fit_transform(data[num_cols])
data_minmax_scaled[num_cols] = scaler_minmax.fit_transform(data[num_cols])

# Show scaled data
data_standard_scaled.head(), data_minmax_scaled.head()

(        age          workclass    fnlwgt   education  education_num  \
 0  0.030671          State-gov -1.063611   Bachelors       1.134739
 1  0.837109   Self-emp-not-inc -1.008707   Bachelors       1.134739
 2 -0.042642            Private  0.245079     HS-grad      -0.420060
 3  1.057047            Private  0.425801        11th      -1.197459
 4 -0.775768            Private  1.408176   Bachelors       1.134739

         marital_status          occupation    relationship    race      sex  \
 0        Never-married        Adm-clerical   Not-in-family   White     Male
 1   Married-civ-spouse     Exec-managerial         Husband   White     Male
 2             Divorced   Handlers-cleaners   Not-in-family   White     Male
 3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
 4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

    capital_gain  capital_loss  hours_per_week  native_country  income
 0      0.148453      -0.21666       -0.035429   United-States   <=50K
 1     -0.145920      -0.21666       -2.222153   United-States   <=50K
 2     -0.145920      -0.21666       -0.035429   United-States   <=50K
 3     -0.145920      -0.21666       -0.035429   United-States   <=50K
 4     -0.145920      -0.21666       -0.035429            Cuba   <=50K  ,
         age          workclass    fnlwgt   education  education_num  \
 0  0.301370          State-gov  0.044302   Bachelors       0.800000
 1  0.452055   Self-emp-not-inc  0.048238   Bachelors       0.800000
 2  0.287671            Private  0.138113     HS-grad       0.533333
 3  0.493151            Private  0.151068        11th       0.400000
 4  0.150685            Private  0.221488   Bachelors       0.800000

         marital_status          occupation    relationship    race      sex  \
 0        Never-married        Adm-clerical   Not-in-family   White     Male
 1   Married-civ-spouse     Exec-managerial         Husband   White     Male
 2             Divorced   Handlers-cleaners   Not-in-family   White     Male
 3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
 4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

    capital_gain  capital_loss  hours_per_week  native_country  income
 0       0.02174           0.0        0.397959   United-States   <=50K
 1       0.00000           0.0        0.122449   United-States   <=50K
 2       0.00000           0.0        0.397959   United-States   <=50K
 3       0.00000           0.0        0.397959   United-States   <=50K
 4       0.00000           0.0        0.397959            Cuba   <=50K  )

In [9]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Handle missing values
# Impute missing values with mean for numerical features and mode for categorical features
num_imputer = SimpleImputer(strategy='mean')
cat_imputer = SimpleImputer(strategy='most_frequent')

# Separate numerical and categorical columns
num_cols = data.select_dtypes(include=['int64', 'float64']).columns
cat_cols = data.select_dtypes(include=['object']).columns

data[num_cols] = num_imputer.fit_transform(data[num_cols])
data[cat_cols] = cat_imputer.fit_transform(data[cat_cols])

# Apply scaling techniques
scaler_standard = StandardScaler()
scaler_minmax = MinMaxScaler()

data_standard_scaled = data.copy()
data_minmax_scaled = data.copy()

data_standard_scaled[num_cols] = scaler_standard.fit_transform(data[num_cols])
data_minmax_scaled[num_cols] = scaler_minmax.fit_transform(data[num_cols])

# Show scaled data
data_standard_scaled.head(), data_minmax_scaled.head()

(        age          workclass    fnlwgt   education  education_num  \
 0  0.030671          State-gov -1.063611   Bachelors       1.134739
 1  0.837109   Self-emp-not-inc -1.008707   Bachelors       1.134739
 2 -0.042642            Private  0.245079     HS-grad      -0.420060
 3  1.057047            Private  0.425801        11th      -1.197459
 4 -0.775768            Private  1.408176   Bachelors       1.134739

         marital_status          occupation    relationship    race      sex  \
 0        Never-married        Adm-clerical   Not-in-family   White     Male
 1   Married-civ-spouse     Exec-managerial         Husband   White     Male
 2             Divorced   Handlers-cleaners   Not-in-family   White     Male
 3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
 4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

    capital_gain  capital_loss  hours_per_week  native_country  income
 0      0.148453      -0.21666       -0.035429   United-States   <=50K
 1     -0.145920      -0.21666       -2.222153   United-States   <=50K
 2     -0.145920      -0.21666       -0.035429   United-States   <=50K
 3     -0.145920      -0.21666       -0.035429   United-States   <=50K
 4     -0.145920      -0.21666       -0.035429            Cuba   <=50K  ,
         age          workclass    fnlwgt   education  education_num  \
 0  0.301370          State-gov  0.044302   Bachelors       0.800000
 1  0.452055   Self-emp-not-inc  0.048238   Bachelors       0.800000
 2  0.287671            Private  0.138113     HS-grad       0.533333
 3  0.493151            Private  0.151068        11th       0.400000
 4  0.150685            Private  0.221488   Bachelors       0.800000

         marital_status          occupation    relationship    race      sex  \
 0        Never-married        Adm-clerical   Not-in-family   White     Male
 1   Married-civ-spouse     Exec-managerial         Husband   White     Male
 2             Divorced   Handlers-cleaners   Not-in-family   White     Male
 3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
 4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

    capital_gain  capital_loss  hours_per_week  native_country  income
 0       0.02174           0.0        0.397959   United-States   <=50K
 1       0.00000           0.0        0.122449   United-States   <=50K
 2       0.00000           0.0        0.397959   United-States   <=50K
 3       0.00000           0.0        0.397959   United-States   <=50K
 4       0.00000           0.0        0.397959            Cuba   <=50K  )

In [20]:
import numpy as np

# Create new features
data['age_squared'] = data['age'] ** 2
data['hours_per_week_log'] = np.log1p(data['hours_per_week'])

# Assuming ' <=50K' is your target variable
data['income'] = data['income'].apply(lambda x: 0 if x.strip() == '<=50K' else 1)
# Check skewness of numerical features
skewness = data[num_cols].apply(lambda x: x.skew())

# Apply log transformation to a skewed numerical feature
skewed_cols = skewness[skewness > 1].index
data[skewed_cols] = data[skewed_cols].apply(lambda x: np.log1p(x))

# Show data with new features
data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,age_squared,hours_per_week_log
0,39,State-gov,11.258253,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,7.684784,0.0,40,United-States,0.0,1521,3.713572
1,50,Self-emp-not-inc,11.330348,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.000000,0.0,13,United-States,0.0,2500,2.639057
2,38,Private,12.281398,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.000000,0.0,40,United-States,0.0,1444,3.713572
3,53,Private,12.366157,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.000000,0.0,40,United-States,0.0,2809,3.713572
4,28,Private,12.732013,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.000000,0.0,40,Cuba,0.0,784,3.713572

In [26]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder
from sklearn.ensemble import IsolationForest

# Load the dataset
data = pd.read_csv('adult_with_headers.csv')

# Assuming ' <=50K' is your target variable
data['income'] = data['income'].apply(lambda x: 0 if x.strip() == '<=50K' else 1)

# Handle missing values
num_imputer = SimpleImputer(strategy='mean')
cat_imputer = SimpleImputer(strategy='most_frequent')

# Separate numerical and categorical columns
num_cols = data.select_dtypes(include=['int64', 'float64']).columns
cat_cols = data.select_dtypes(include=['object']).columns

# Handle numerical columns
data[num_cols] = num_imputer.fit_transform(data[num_cols])

# Handle categorical columns
data[cat_cols] = cat_imputer.fit_transform(data[cat_cols])

# One-hot encode categorical columns
encoder = OneHotEncoder(drop='first', sparse=False)
encoded_cats = encoder.fit_transform(data[cat_cols])
encoded_cols = encoder.get_feature_names_out(cat_cols)  # Get feature names after encoding
encoded_cats_df = pd.DataFrame(encoded_cats, columns=encoded_cols)
data_encoded = pd.concat([data[num_cols], encoded_cats_df], axis=1)

# Create new features
data_encoded['age_squared'] = data_encoded['age'] ** 2
data_encoded['hours_per_week_log'] = np.log1p(data_encoded['hours_per_week'])

# Check skewness of numerical features
skewness = data_encoded[num_cols].apply(lambda x: x.skew())

# Apply log transformation to skewed numerical features
skewed_cols = skewness[skewness > 1].index
data_encoded[skewed_cols] = data_encoded[skewed_cols].apply(lambda x: np.log1p(x))

# Use Isolation Forest to identify and remove outliers
isolation_forest = IsolationForest(contamination=0.05, random_state=42)
outliers = isolation_forest.fit_predict(data_encoded)
data_if = data_encoded[outliers != -1]

# Calculate the correlation matrix
correlation_matrix = data_if.corr()

correlation_matrix

C:\Users\MY PC\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\MY PC\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia,age_squared,hours_per_week_log
age,1.000000,-0.054711,0.048018,0.118867,0.050869,0.090431,0.243875,0.049032,0.056820,-0.019882,...,0.003110,0.000713,-0.013125,-0.009495,0.004334,0.020536,-0.011171,0.000713,0.981401,0.064143
fnlwgt,-0.054711,1.000000,-0.036408,0.000940,-0.001820,-0.024424,0.000480,-0.019986,-0.003110,0.006449,...,-0.001472,-0.008221,0.005757,-0.000854,0.000586,-0.089326,-0.004097,0.007113,-0.053259,-0.008073
education_num,0.048018,-0.036408,1.000000,0.126054,0.075414,0.147425,0.334199,0.056145,0.099474,-0.016045,...,0.001259,-0.002563,0.038249,0.007179,-0.009922,0.106247,-0.000901,0.001555,0.015264,0.126987
capital_gain,0.118867,0.000940,0.126054,1.000000,-0.061303,0.087315,0.284941,0.000368,-0.000797,-0.004352,...,0.000186,-0.006372,-0.003764,-0.005699,-0.005699,0.028863,-0.010145,-0.001064,0.109197,0.078941
capital_loss,0.050869,-0.001820,0.075414,-0.061303,1.000000,0.055406,0.142912,0.003380,0.006011,-0.003188,...,-0.004175,-0.004668,0.004139,-0.004175,0.012304,0.029114,-0.007432,-0.004668,0.042343,0.050396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
native_country_ United-States,0.020536,-0.089326,0.106247,0.028863,0.029114,-0.004071,0.041476,0.017273,0.044450,0.004552,...,-0.065114,-0.072803,-0.101251,-0.065114,-0.065114,1.000000,-0.115919,-0.072803,0.024315,-0.017790
native_country_ Vietnam,-0.011171,-0.004097,-0.000901,-0.010145,-0.007432,-0.007227,-0.015344,-0.000243,-0.008687,-0.000528,...,-0.000691,-0.000772,-0.001074,-0.000691,-0.000691,-0.115919,1.000000,-0.000772,-0.009500,-0.004342
native_country_ Yugoslavia,0.000713,0.007113,0.001555,-0.001064,-0.004668,0.007718,0.004855,-0.003700,-0.005456,-0.000331,...,-0.000434,-0.000485,-0.000675,-0.000434,-0.000434,-0.072803,-0.000772,1.000000,0.000281,0.006979
age_squared,0.981401,-0.053259,0.015264,0.109197,0.042343,0.023808,0.199815,0.038367,0.042943,-0.015829,...,0.002358,-0.000577,-0.013355,-0.008858,0.002866,0.024315,-0.009500,0.000281,1.000000,-0.008821
hours_per_week_log,0.064143,-0.008073,0.126987,0.078941,0.050396,0.927862,0.209720,0.024774,0.029386,-0.020773,...,0.002179,0.007569,0.005400,-0.006726,-0.002038,-0.017790,-0.004342,0.006979,-0.008821,1.000000